body {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#main, #root {
    width: 100%;
    height: 100%;
}

#intro {
    position: relative;
    background-color: #fcf9f1;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#header_div {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 3vw;
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
    font-size: 5vh;
}

#header_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}