body {
    width: 100vw;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    margin: 0;
}

.highlight_lowkey {
    color: #1f4217;
}

#main, #root {
    width: 100%;
    height: 100%;
}

#intro {
    position: relative;
    background-color: #f8f8f5;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#test {
    background-color: #d14a4f;
}

#header_div {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 3vw;
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
    font-size: 40px;
}

#header_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}