body {
    width: 100vw;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: #1927a8;
    text-decoration: none;
}

a:hover {
    color: #09157c;
    text-decoration: underline;
}

#main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

#headerFlex {
    padding-top: 50px;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header {
    font-size: 30px;
    font-weight: 800;
}

#sub {
}

.sub {
    font-size: 20px;
    font-weight: 400;
    color: darkgray;
}

#currentStatus {
    margin-top: 10px;
}

#contacts {
    margin-top: 10px;
}

.contactComponent {
    margin-right: 5px;
}

#prof {
    margin-left: auto;
    margin-right: auto;
}

#profimg {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#headerdiv {
    margin-bottom: 20px;
}

#post_viewer_main {
    padding-top: 20px;
    padding-bottom: 20px;
}

#post_viewer_list_container {
    margin-top: 5px;
}

#hangul_div {
    overflow-x: hidden;
    overflow-y: hidden;
}

#hangul_canvas {
}

#player_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 5, 46, 0.753);
}

#player {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

#hangul_input {
    position: absolute;
    width: 100%;
    top: 5vh;
    z-index : 5;
    text-align: center;
}

#hangul_form {
    position: relative;
    font-size: 20px;
}

#hangul_field {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 1px;
    border-right-width: 0px;
}

#hangul_field:focus {
    outline: none;
}

#hangul_button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    border-left-width: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #A8312F;
    border-color: #A8312F;
    color: #f8f8f8;
}

#unmute_info {
    display: inline-block;
    text-align: center;
    margin:0 auto;
    padding: 2px;
    margin-top: 10px;
    color:rgb(224, 224, 224);
    background-color: #A8312F;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: rgb(224, 224, 224);
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    padding-top: 20px;
    padding-bottom: 10px;
}

.paragraphTitle {
    font-size: 20px;
    font-weight: 500;
}

.paragraphContent {
    margin-top: 5px;
}

.postHeader {
    margin-top: 40px;
}

.postContent {
    padding-top: 30px;
    padding-bottom: 10px;
}

.postSubTitle {
    font-size: 18px;
    font-weight: 450;
    padding-bottom: 10px;
}

.postArticle {

}

.postImage {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-color: rgba(187, 187, 187, 0.479);
    border: 1px solid;
}