body {
  padding-top: 5rem;
}
.navbar{
  background-color: #26547C;
}

#AboutMe {
  outline-style: solid; 
  outline-color: #59C9A5;
  outline-width: 4px;
}

.content_container {
  padding: 3rem 1.5rem;
  text-align: center;
}

#background_image{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .8;
  filter: blur(.2px);
}
#background_image img{
  width: 100%;
  height: 100%;
}

.cover{
  object-fit: cover;
}

#AboutMe .content_container{
  color: white;
}

.btn-outline-youtube {
  color: #CC3363;
  background-image: none;
  background-color: transparent;
  border-color: #CC3363;
}

.btn-outline-youtube:hover {
  color: #fff;
  background-color: #CC3363;
  border-color: #CC3363;
}
