body {
  padding-top: 5rem;
}
.navbar{
  background-color: #26547C;
}

.content_container {
  padding: 3rem 1.5rem;
  text-align: center;
}

#AboutMe {
  outline-style: solid; 
  outline-color: #59C9A5;
  outline-width: 4px;
}

.btn-outline-youtube {
  color: #CC3363;
  background-image: none;
  background-color: transparent;
  border-color: #CC3363;
}

.btn-outline-youtube:hover {
  color: #fff;
  background-color: #CC3363;
  border-color: #CC3363;
}
